{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",

	"overrides": [
		{
			"files": ["**/*.svelte"],
			"options": {
				"plugins": ["prettier-plugin-svelte"]
			}
		},
		{
			"files": ["**/*.toml"],
			"options": {
				"plugins": ["prettier-plugin-toml"]
			}
		},
		{
			"files": ["**/*.json", ".oxlintrc"],
			"excludeFiles": ["**/node_modules/*", "extensions.json"],
			"options": {
				"trailingComma": "none"
			}
		},
		{
			"files": ["App.code-workspace", "extensions.json"],
			"options": {
				"trailingComma": "all"
			}
		}
	]
}
